.Example  {
  text-align: center;
}

.Example -logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Example -logo {
    animation: Example -logo-spin infinite 20s linear;
  }
}

.Example -header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Example -link {
  color: #61dafb;
}

@keyframes Example -logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
